{% extends "base.html" %}

{% block content %}

    <div class="albums"><h2>YOUR ALBUMS</h2>
        
        <h3>
        <a href="{% url 'add_album' %}"class="button">Add Album</a>
        </h3>

        <ul id= "album-list">
            {% for album in albums %}
                <li>
                <a href="{% url 'album_details' album.pk %}"><img src="{{ album.album_photo }}" alt="{{album.title}}"></a><br>
                Album Name: <a href="{% url 'album_details' album.pk %}">{{album.title}}</a><br>
                Artist: {{album.artist}}
                </br>
                Album Added: {{album.created_at}}
                </br>
                </br>
                <a href="{% url 'edit_album' pk=album.pk%}" class="button">Edit Album </a> 
                </br>
                <a href="{% url 'delete_album' pk=album.pk%}" class="button"> Delete Album</a>
                <br>
                <br>
                </br>
                </li>
            {% endfor %}
            </ul>
    </div>
    {% endblock %}